@import "./src/styles/abstracts/_variables.scss";

.header {
  width: 100%;
  background: #27262A;
  @media (min-width: $desktop-bp) {
    background: none;
  }
}

.header__navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media (min-width: $tablet-bp) {
    display: grid;
    grid-template-areas: "logo . . . . button"
                          "list list list list list list";
    grid-template-columns: 200px repeat(4, 1fr) 165px;
    grid-template-rows: auto;
  }
  @media (min-width: $desktop-bp) {
    position: absolute;
    z-index: 2;
    grid-template-areas: "logo . list button";
    grid-template-columns: 180px  100px auto 176px;
    grid-template-rows: auto;
  }
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
  @media (min-width: $tablet-bp) {
    grid-area: logo;
    margin-left: 20px;
  }
  @media (min-width: $desktop-bp) {
    margin-left: 31px;
  }
}

.header__logo {
  width: 43px;
  height: 42px;
  background-image: url("../images/header/logo.png");
  @media (min-width: $tablet-bp) {
  }
  @media (min-width: $desktop-bp) {
  }
}

.header__logo-text {
  display: none;
  @media (min-width: $tablet-bp) {
    display: block;
    margin-left: 17px;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    color: #8D81AC;
  }
}

.header__list {
  display: none;
  background: #333333;
  position: absolute;
  top: 104px;

  @media (min-width: $tablet-bp) {
    background: none;
    position: static;
    grid-area: list;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (min-width: $desktop-bp) {
    gap: 43px;
    margin-right: 80px;
    margin-left: 31px;
  }
}

.header__list-item {
  padding: 29px 50px 21px 35px;
  border-bottom: 3px solid #3B3B3B;
  margin-bottom: 3px;

  & a {
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
  }

  @media (min-width: $tablet-bp) {
    border-bottom: none;
    padding: 0;
    margin-right: 42px;
    margin-bottom: 18px;

    & a {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      color: #8D81AC;
      padding: 0 5px;
    }
  }
  @media (min-width: $desktop-bp) {
    margin-right: 0;
    margin-bottom: 0;

    & a {
      padding: 0;

    }
  }
}

.header__button {
  max-width: 119px;
  background: #8D81AC;
  border-radius: 40px;
  margin-top: 34px;
  margin-bottom: 32px;
  padding: 11px 25px;
  border: none;

  & a {
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
  }

  @media (min-width: $tablet-bp) {
    grid-area: button;
    justify-content: end;
    min-width: 145px;
    height: max-content;
    padding: 11px 40px;
    margin-right: 20px;
    margin-top: 24px;
  }
  @media (min-width: $desktop-bp) {
    margin-right: 31px;
    margin-top: 31px;
  }
}

.header__menu-burger {
  text-align: center;
  height: 21px;
  width: 26px;
  background-image: url("../images/header/burger.png");

  @media (min-width: $tablet-bp) {
    display: none;
  }
}

.header__list-displayed {
  display: block;
  @media (min-width: $tablet-bp) {
    display: flex;
  }
}

.header__menu-closed {
  text-align: center;
  height: 25px;
  width: 25px;
  background-image: url("../images/header/burger-closed.png");
}


.top-img {
  height: 398px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("./../images/header/top-m.png");

  @media (min-width: $tablet-bp) {
    height: 650px;
    background-image: url("./../images/header/top-t.png");
  }
  @media (min-width: $desktop-bp) {
    height: 800px;
    background-image: url("./../images/header/top-d.png");
  }
}

.top-img__title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
  padding-top: 50px;
  margin-bottom: 19px;
  @media (min-width: $tablet-bp) {
    font-size: 72px;
    line-height: 72px;
    padding-top: 69px;
  }
  @media (min-width: $desktop-bp) {
    font-size: 82px;
    line-height: 82px;
    padding-top: 183px;
  }
}

.top-img__post-title {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #8D81AC;
  margin-bottom: 14px;
  @media (min-width: $tablet-bp) {
    font-size: 24px;
    margin-bottom: 19px;
  }
  @media (min-width: $desktop-bp) {
    font-size: 30px;
    line-height: 30px;
  }
}

.top-img__text {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #848E97;
  margin-bottom: 416px;
  @media (min-width: $tablet-bp) {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 462px;
  }
  @media (min-width: $desktop-bp) {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 426px;
  }
}

.top-img__button-wrapper {
  text-align: center;
}

.top-img__button {
  background: #8D81AC;
  border-radius: 40px;
  margin-bottom: 13px;

  & a {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
  }
}

.top-img__button-after-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #848E97;
}

