@import "./src/styles/abstracts/_variables.scss";
@import "./src/styles/abstracts/_mixins.scss";


.here-is-what-you-get {
    padding-top: 32px;

    @media (min-width: $tablet-bp) {
        padding-top: 61px;
    }

    @media (min-width: $desktop-bp) {
        padding-bottom: 33px;
        padding-top: 94px;
        width: 100%;
        background: #F4F4F4;
    }
}

.here-is-what-you-get__grid {
    @media (min-width: $desktop-bp) {
        display: grid;
        grid-template-areas: "item title"
                             "item  image";
        grid-template-rows: 46px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

.here-is-what-you-get__title {
    @include font(700, 32, 38);
    margin-bottom: 36px;
    padding-top: 50px;
    text-align: center;
    color: $accent-color;
    grid-area: title;

    &::before {
        content: "<";
    }

    &::after {
        content: ">";
    }

    @media (min-width: $tablet-bp) {
        @include font(700, 42, 44);
    }

    @media (min-width: $desktop-bp) {
        padding-top: 0;
    }
}

.here-is-what-you-get__wrapper {
    grid-area: item;
}

.here-is-what-you-get__item {
    padding: 0 23px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;

    @media (min-width: $tablet-bp) {
        padding-left: 30px;
        grid-template-columns: 115px 4fr;
        grid-column-gap: 23px;
    }

    @media (min-width: $desktop-bp) {
        padding-left: 90px;
        padding-right: 0;
    }
}

.here-is-what-you-get__item-icon {
    @include flexCentre;
    width: 115px;
    height: 85px;
    margin-bottom: 27px;
}

.here-is-what-you-get__item-title {
    @include font(400, 16, 16);
    margin-bottom: 14px;
    text-align: center;
    color: #323232;

    @media (min-width: $tablet-bp) {
        text-align: left;
        @include font(400, 16, 21);
    }
}

.here-is-what-you-get__item-text {
    @include font(400, 14, 21);
    margin-bottom: 38px;
    text-align: center;
    color: $accent-secondary;

    @media (min-width: $tablet-bp) {
        text-align: left;
    }
}

.here-is-what-you-get__image {
    grid-area: image;
    padding-bottom: 6px;
    height: 381px;
    background: url(../images/hereIsWhatYouGet/image_HereIsWhatYouGet_mobile.png) no-repeat right center;
    @media (min-width: $tablet-bp) {
        height: 519px;
        margin-left: 45px;
        background: url(../images/hereIsWhatYouGet/image_HereIsWhatYouGet_tablet.png) no-repeat right center;
    }
}